This software requires following:

MYSQL server running on localhost in port 3306

- install with pip and import following packages

import datetime
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy_utils import database_exists



